<%= render partial: "partials/patient_header"%>
<%= render partial: "partials/find_doctor_index" %>

<hr>
<div class="column-container-left">
  <h3>Doctors in our Database:</h3>
</div>

<%= render partial: "partials/patient_footer"%>
