<div class="header">
  <h1>Add New Therapist
    <%= render partial: "partials/header"%>
    <%= link_to "My Care Team", patient_therapists_path(current_user), class: "nav-bar-links"%>
  </h1>
</div>

<%= render partial: "therapists/therapist_form" %>
