/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
body {
  background-color: #e8f9f6;
  font-family: Arial;
}

/* line 23, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.header {
  height: 45px;
  background-color: #73baae;
}
/* line 26, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.header h1 {
  font-size: 28px;
  color: white;
  margin-left: 10px;
}
/* line 31, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.header .nav-bar-links {
  text-decoration: none;
  font-size: 16px;
  color: white;
  float: right;
  padding-top: 4px;
  padding-right: 10px;
}
/* line 39, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.header .nav-bar-links:hover {
  color: black;
}

/* line 44, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.column-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* line 53, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.homepage-section {
  background: #106053;
  border-radius: 5%;
  opacity: 0.8;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 150px;
  width: 250px;
  margin: 10px;
}

/* line 67, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.homepage-link {
  font-size: 18px;
  color: white;
}

/* line 72, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.homepage-link:hover {
  color: orange;
}

/* line 76, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.main-page-link {
  background: #106053;
  border-radius: 5%;
  opacity: 0.8;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 250px;
  margin: 10px;
}

/* line 90, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.main-page-link:hover {
  background: black;
  opacity: 1.0;
}

/* line 95, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.form-table {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}
/* line 99, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.form-table .entry-form {
  font-size: 20px;
}
/* line 102, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.form-table #submit-button {
  font-size: 16px;
  float: right;
}

/* line 108, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.medication-table {
  background: #a6dbd0;
  text-align: left;
}
/* line 111, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.medication-table .headers {
  text-decoration: underline;
}
/* line 114, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.medication-table th {
  padding: 10px;
}
/* line 117, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.medication-table tr:hover {
  background: #77a59e;
}
/* line 120, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.medication-table #med-reminder {
  font-size: 24px;
  text-decoration: underline;
}

/* line 126, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.provider-table {
  background: #a6dbd0;
  text-align: left;
}
/* line 129, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.provider-table th {
  padding: 10px;
}
/* line 132, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.provider-table tr:hover {
  background: #77a59e;
}
/* line 135, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.provider-table .column-headers {
  font-size: 18px;
  text-decoration: underline;
}

/* line 141, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.exercise {
  background: #73baae;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 300px;
  margin-top: 20px;
}
/* line 149, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.exercise h4 {
  margin: 3px;
}
/* line 152, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
.exercise img {
  width: 250px;
  height: auto;
}

/* line 158, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#edit-link, #delete-link {
  text-decoration: none;
  font-size: 14px;
}

/* line 163, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#new-medication, #new-doctor, #new-therapist {
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  background: #4e6b65;
  opacity: 0.6;
  color: white;
  border-radius: 10%;
}

/* line 173, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#new-medication:hover {
  background: #4e6b65;
  opacity: 1.0;
}

/* line 177, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#new-therapist:hover {
  background: #4e6b65;
  opacity: 1.0;
}

/* line 181, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#new-doctor:hover {
  background: #4e6b65;
  opacity: 1.0;
}

/* line 185, /Users/leechow/parkinsons_app/app/assets/stylesheets/application.scss */
#admin-exercise-image {
  height: 50px;
  width: auto;
}
