<div class="footer">
  <%= link_to "Appts", root_path, class: "nav-bar-links" %>
  <%= link_to "Patients", root_path, class: "nav-bar-links" %>
  <%= link_to "Tools", root_path, class: "nav-bar-links" %>
</div>
