<div class="header">
  <%= link_to patient_path(current_user), class: "nav-bar-links" do %>
    <i class="fas fa-home fa-lg" id="home-icon"></i>
  <% end %>
  <h3>PD Health Tracker</h3>
  <%= link_to logout_path, class: "nav-bar-links" do %>
    <i class="fas fa-sign-out-alt fa-lg" id="icon"></i>
  <% end %>
</div>
