<div class="header">
  <h1> Edit Medication
    <%= render partial: "partials/header"%>
    <%= link_to "My Medications", patient_medications_path(current_user), class: "nav-bar-links"%>
  </h1>
</div>

<%= render partial: "medication_form" %>
