<div class="header">
  <h1>Add New Doctor
    <%= render partial: "partials/header"%>
    <%= link_to "My Care Team", patient_therapists_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<%= render partial: "doctor_form" %>
