/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "containers";
 @import "google_button";
 @import "facebook_button";
 @import "header";
 @import "footer";
 @import "tables";
 @import "appointment";

 body {
   background-color: white;
   font-family: 'Avenir', Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .login-field{
   font-size: 20px;
   margin-bottom: 10px;
 }

 .homepage-box {
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 10%;
   margin-top: 20px;
   font-size: 24px;
   text-decoration: underline;
 }

 .simple-calendar{
   .calendar-heading{
     margin-left: 0%;
     margin-top: 10px;
     margin-bottom: 20px;
     .calendar-title{
       font-size: 24px;
       margin: 32px;
     }
   }
 }

.article-search-box{
  background-color: rgba(215, 225, 242, 0.7);
  padding:10px;
  border-radius: 5%;
  margin-top: 10px;
}

 .column-form{
   background-color: rgba(215, 225, 242, 0.7);
   padding:20px;
   border-radius: 5%;
   flex: {
     direction: column;
     wrap: wrap;
   }
 }
 .homepage-section {
   background-color: rgba(215, 225, 242, 0.7);
   border: solid #7899cc 1px;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   color: black;
   font-size: 20px;
   height: auto;
   width: 300px;
   margin: 20px;
 }

 .homepage-link {
   font-size: 18px;
   color: black;
 }

 .homepage-link:hover{
   color:orange;
 }

 .main-page-link {
   background: #106053;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding-top: 10px;
   text-decoration: none;
   color: white;
   font-size: 20px;
   height: 40px;
   width: 250px;
   margin: 10px;
 }

 .main-page-link:hover {
   background: black;
   opacity: 1.0;
 }

 .entry-form {
   margin: 5px;
   font-size: 16px;
   width: 175px;
 }

 .exercise {
   background-color: rgba(215, 225, 242, 0.7);
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   width: auto;
   padding: 15px;
   margin-top: 20px;
   border-radius: 5%;
   h4{
     margin: 3px;
   }
   img{
     width: 250px;
     height: auto;
   }
 }

 .doctor-search, .healthprovider-box, .medication-box{
   background-color: rgba(215, 225, 242, 0.7);
   width: 400px;
   padding: 15px;
   margin-bottom: 20px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   border-radius: 5%;
   h3{
     margin-right: 5px;
   }
   .line{
     border: 0;
     clear:both;
     display:block;
     width: 200%;
     background-color:black;
     height: 1px;
   }
   .note-box{
     font-size: 14px;
     height: 80px;
     width: 400px;
   }
 }

.edit-link, .delete-link, .update-note-button, .submit-link{
   text-decoration: none;
   font-size: 16px;
   padding: 5px;
   margin: 3px;
   background: #373b42;
   color: white;
   border-radius: 10%;
 }

 .login-button {
   text-decoration: none;
   width: 160px;
   font-size: 16px;
   padding: 5px;
   margin: 3px;
   background: #373b42;
   color: white;
   border-radius: 10%;
 }
 .med-reminder{
   font-size:30px;
   text-decoration: underline;
 }

 .labels-fall-risk{
   margin-left: 5px;
   margin-top: 10px;
 }
 #submit-button, #submit-button-doctor, #submit-button-patient, #delete-button{
   text-decoration: none;
   font-size: 16px;
   width: 175px;
   margin-left: 7px;
 }

 #new-medication, #new-doctor, #new-appointment, #new-activity{
   text-decoration: none;
   padding: 10px;
   margin-top: 10px;
   background: #373b42;
   opacity: 0.8;
   color: white;
   border-radius: 10%;
 }

 #new-medication:hover{
   background: #373b42;
   opacity: 1.0;
 }
 #new-doctor:hover{
   background: #373b42;
   opacity: 1.0;
 }
#admin-exercise-image{
  height: 50px;
  width: auto;
}
#not-ready{
  background-color: grey;
}
#pill-icon{
  height: 50px;
  width: 50px;
}
#med-name, #today-appt{
  margin-top: 10px;
  margin-left:25px;
  font-size: 18px;
}
.insurance-info{
  display: none;
  position: absolute;
  background: #f2f6ff;
  color: black;
  border-radius: 5%;
  font-size: 90%;
  padding: 5px;
  border: solid #858687 1px;
}
.show-insurance{
  font-size: 14px;
  color: blue;
  text-decoration: underline;
}
#predict-fall-risk{
  padding: 3px;
  border: solid black 1px;
  text-align: center;
}
#icon{
  color: white;
}
#message-title{
  font-size: 18px;
  width: 300px;
  height: auto;
}
#message-contents{
  margin-top: 20px;
  font-size: 16px;
  width: 300px;
  height: 150px;
}
#message-send-button{
  font-size: 16px;
  width: 100px;
}
#chart-1 {
  background-color: rgba(215, 225, 242, 0.3);
  margin-top: 20px;
  border-radius: 5%;
}
