/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: white;
   font-family: Arial;
 }

.header {
  height: 45px;
  background-color: #73baae;
   h1 {
     font-size:28px;
     color: white;
     margin-left: 10px;
   }
   .nav-bar-links {
     text-decoration: none;
     font-size: 16px;
     color: white;
     float: right;
     padding-top: 4px;
     padding-right: 20px;
   }
   .nav-bar-links:hover {
     color: black;
   }

 }

 .dropbutton{
   background-color: #73baae;
   height: 45px;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }
 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
   width: 200px;
   .drop-links{
     text-decoration: none;
     font-size: 20px;
   }
 }
 .dropdown-content a:hover {background-color: grey}

 .dropdown:hover .dropdown-content {
   display: block;
 }

 .dropdown:hover .dropbutton {
    background-color: #3e8e41;
}

 .column-container {
   display: flex;
   flex: {
     direction: column;
     wrap: wrap;
   }
   align-items: center;
 }

 .row-container{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-items: flex-end;
   width: 375px;
 }

 .homepage-section {
   background: #106053;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding-top: 10px;
   text-decoration: none;
   color: white;
   font-size: 20px;
   height: 150px;
   width: 250px;
   margin: 10px;
 }

 .homepage-link {
   font-size: 18px;
   color: white;
 }

 .homepage-link:hover{
   color:orange;
 }

 .main-page-link {
   background: #106053;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding-top: 10px;
   text-decoration: none;
   color: white;
   font-size: 20px;
   height: 40px;
   width: 250px;
   margin: 10px;
 }

 .main-page-link:hover {
   background: black;
   opacity: 1.0;
 }

 .form-table {
   text-align: left;
   font-size: 20px;
   margin-left: 20px;
   .entry-form {
     font-size: 20px;
   }
   #submit-button{
     font-size: 16px;
     float: right;
   }
 }

 .medication-table {
   background: #a6dbd0;
   text-align: left;
   border-radius: 5%;
   .headers{
     text-decoration: underline;
   }
   th {
     padding: 10px;
   }
   tr:hover {
     background: #77a59e;
   }
 }

 .provider-table{
   background: #a6dbd0;
   text-align: left;
   border-radius: 5%;
   th {
     padding: 10px;
   }
   tr:hover {
     background: #77a59e;
   }
   .column-headers{
     font-size: 18px;
     text-decoration: underline;
   }
 }

 .exercise {
   background: #73baae;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: auto;
   width: 300px;
   margin-top: 20px;
   border-radius: 5%;
   h4{
     margin: 3px;
   }
   img{
     width: 250px;
     height: auto;
   }
 }

 .doctor-search, .healthprovider-box, .medication-box{
   background-color: #a6dbd0;
   width: 500px;
   margin-bottom: 20px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 5%;
   h2{
     text-decoration: underline;
     margin-left: 5px;
     margin-right: 5px;
   }
   .note-box{
     font-size: 14px;
     height: 50px;
     width: 200px;
   }
 }

 #edit-link, #delete-link{
   text-decoration: none;
   font-size: 14px;
 }

 #new-medication, #new-doctor, #new-therapist{
   text-decoration: none;
   padding: 10px;
   margin-top: 10px;
   background: #4e6b65;
   opacity: 0.6;
   color: white;
   border-radius: 10%;
 }
 .med-reminder{
   font-size:24px;
 }
 #new-medication:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
 #new-therapist:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
 #new-doctor:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
#admin-exercise-image{
  height: 50px;
  width: auto;
}
#not-ready{
  background-color: grey;
}
#pill-icon{
  height: 50px;
  width: 50px;
}
#med-name{
  font-size: 18px;
}
#insurance-info{
  display: none;
}
#show-insurance{
  font-size: 14px;
  color: blue;
}
#show-insurance:hover #insurance-info{
  color:blue;
  display: block;
}
