/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #e8f9f6;
   font-family: Arial;
 }

.header {
  height: 45px;
  background-color: #73baae;
   h1 {
     font-size:28px;
     color: white;
     margin-left: 10px;
   }
   .nav-bar-links {
     text-decoration: none;
     font-size: 16px;
     color: white;
     float: right;
     padding-top: 4px;
     padding-right: 10px;
   }
   .nav-bar-links:hover {
     color: black;
   }
 }

 .column-container {
   display: flex;
   flex: {
     direction: column;
     wrap: wrap;
   }
   align-items: center;
 }

 .homepage-section {
   background: #106053;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding-top: 10px;
   text-decoration: none;
   color: white;
   font-size: 20px;
   height: 150px;
   width: 250px;
   margin: 10px;
 }

 .homepage-link {
   font-size: 18px;
   color: white;
 }

 .homepage-link:hover{
   color:orange;
 }

 .main-page-link {
   background: #106053;
   border-radius: 5%;
   opacity: 0.8;
   text-align: center;
   padding-top: 10px;
   text-decoration: none;
   color: white;
   font-size: 20px;
   height: 40px;
   width: 250px;
   margin: 10px;
 }

 .main-page-link:hover {
   background: black;
   opacity: 1.0;
 }

 .form-table {
   text-align: left;
   font-size: 20px;
   margin-left: 20px;
   .entry-form {
     font-size: 20px;
   }
   #submit-button{
     font-size: 16px;
     float: right;
   }
 }

 .medication-table {
   background: #a6dbd0;
   text-align: left;
   .headers{
     text-decoration: underline;
   }
   th {
     padding: 10px;
   }
   tr:hover {
     background: #77a59e;
   }
   #med-reminder{
     font-size:24px;
     text-decoration: underline;
   }
 }

 .provider-table{
   background: #a6dbd0;
   text-align: left;
   th {
     padding: 10px;
   }
   tr:hover {
     background: #77a59e;
   }
   .column-headers{
     font-size: 18px;
     text-decoration: underline;
   }
 }

 #edit-link, #delete-link{
   text-decoration: none;
   font-size: 14px;
 }

 #new-medication, #new-doctor, #new-therapist{
   text-decoration: none;
   padding: 10px;
   margin-top: 10px;
   background: #4e6b65;
   opacity: 0.6;
   color: white;
   border-radius: 10%;
 }

 #new-medication:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
 #new-therapist:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
 #new-doctor:hover{
   background: #4e6b65;
   opacity: 1.0;
 }
