<div class="header">
  <h1>My Appointments
    <%= render partial: "partials/header"%>
  </h1>
</div>

<% @appointments.each do |appointment| %>
  <li><%= appointment.date_time.strftime("%b %e, %Y --> %I:%M %p") %> with: <%= appointment.appointable.name %></li>
<% end %>
