<div class="header">
  <h1>Activity Tracker
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>

<div class="column-container">

  <h2>This week's activities</h2>

  **********CREATE GRAPH HERE***********

  <%= link_to "Log New Activity", new_patient_activity_path(@patient) %>


</div>
