<div class="header">
  <h1>Today's Workout
    <%= link_to "Logout", logout_path, class: "nav-bar-links" %>
    <%= link_to "Home", patient_path(@patient), class: "nav-bar-links"%>
  </h1>
</div>


<%= link_to "Log Activity", new_patient_activity_path(@patient) %>
