<%= render partial: "partials/patient_header"%>
<div class="column-container">
  <h3>Log a New Activty:</h3>
  <%= render partial: "activity_form" %>
</div>
<%= render partial: "partials/patient_footer"%>
